/* TABLE of contents*/
/*
1.general
2.navbar
3.banner
4.about
5.services
6.contact
7.footer
*/
/* 1.grneral*/
@import url("");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    /*background color*/
--primary-color:#FD4766;
--secondary-color:#0e1525;
--bg-dark-blue:#091020;
--gray-white:#fff;
--bg-color:#c6c9d8bf;
--gradient-color:linear-gradient(-224deg,var(--primary-color) 0 ,#337DFF 100%);
--gradient-text:linear-gradient(120deg,#1C99FE 20,69% #7644FF 50.19% ,var(--primary-color)79% ,69%);
filter:progid:DXImageTransform.Microsoft.gradient(starColorstr'var(--primary-color)',endColorstr='var'
(--secondary-color)',GradientType=1);

/*text color*/
--primary-font:'poppins',sans-serif;
--primary-text:#FD4766;
--text-gray:#c6c9d8bf;
--text-white:#fff;
}

body{
    font-family:var(--primary-font);
    background-color: var(--secondary-color);

}
a{
    text-decoration: none;
}
/*custom css*/
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    background: var(--bg-dark-blue);

}
::-webkit-scrillbar-thumb{
    background: var(--primary-ccolor);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-apperance:none;
    margin:0;
}
section{
    padding:50px 0;

}
.main-btn{
    display: inline-block;
    border-radius:50px;
    transition: all .4s ease-in-out;
    padding:10px 27px;
    background-color: transparent;
    border:2px solid #fff;
    color:#fff;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing:2px;
    text-decoration:none;

}
.main-btn:hover{
    background-color: #FD4766;
    border-color:#FD4766;
    color:#fff;

}